[package]
name = "<<[ package_name ]>>-api"
default-run = "<<[ package_name ]>>-api"
edition.workspace = true
version.workspace = true
license.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
axum.workspace = true
dotenvy.workspace = true
<<[ package_name ]>> = { path = "../../crates/<<[ package_name ]>>"[% if db_enabled %], features = ["db"][% endif %] }
<<[ package_name ]>>-http = { path = "../../crates/<<[ package_name ]>>-http"[% if db_enabled %], features = ["db"][% endif %] }
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
