use ::<<[ module_name ]>> as app_crate;
use ::<<[ module_name ]>>_http as app_http_crate;

pub mod app;
[% if db_enabled %]
pub mod db;
[% endif %]
pub mod http;
pub mod responses;

pub use app::TestApp;
pub use responses::TestResponse;

pub fn test_router() -> axum::Router {
    app_http_crate::router(app_crate::AppState::new())
}
