[package]
name = "<<[ package_name ]>>-http-common"
edition.workspace = true
version.workspace = true
license.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
batter.workspace = true
batter-axum.workspace = true
axum.workspace = true
serde.workspace = true
utoipa.workspace = true

[dev-dependencies]
serde_json.workspace = true
tokio = { workspace = true, features = ["test-util"] }
tower = { workspace = true, features = ["util"] }
