BIND_ADDR=127.0.0.1:3000
RUST_LOG=<<[ module_name ]>>=info,<<[ module_name ]>>_api=info[% if admin_api_enabled %],<<[ module_name ]>>_admin_api=info[% endif %],tower_http=info
[% if db_enabled -%]
DATABASE_URL=<<[ database_url_example ]>>
[% endif -%]
