[package]
name = "<<[ package_name ]>>-db"
edition.workspace = true
version.workspace = true
license.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
batter.workspace = true
sqlx.workspace = true
tokio.workspace = true
